# Lombok Configuration File
# See https://projectlombok.org/features/configuration

# Включить расширенную поддержку для аннотаций lombok
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true

# Настройки для правильной работы с MapStruct
lombok.accessors.chain = true
lombok.equalsAndHashCode.callSuper = call

# Отключить интеграцию с findbugs
lombok.extern.findbugs.addSuppressFBWarnings = false

# Настройки обработки аннотаций
config.stopBubbling = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy 